
* { font-family: sans-serif; font-size: 15px; }

/* links */
a { color: #005588; }
a:hover { color: #000; }
a:active { color: #006699; }
a:visited { color: #555555; }

/* inputs */
input[type=password], input[type=text], input[type=file], textarea, select { border: 1px solid #444; border-radius: 3px; padding: 3px; background: #fff; font-size: 15px; }
input[type=password]:focus, input[type=text]:focus, textarea:focus, select:focus { background-color: #ff9; }
input[type=checkbox] {  width:15px; height:15px; background: #eee; border-radius: 2px; border: 2px solid #444; }
input[type=checkbox] { background: #fff; } 

/* misc and shading */
div.lm_error   { color: #fff; background: #aa0734; border: 1px solid #222; margin: 4px; padding: 4px; border-radius: 4px; text-align: center; }
div.lm_success { color: #000; background: #55eda4; border: 1px solid #222; margin: 4px; padding: 4px; border-radius: 4px; text-align: center; }
td.lm_label    { text-align: right; }
a.lm_child_delete { display: block; text-align:center; }
tr.lm_shaded,  .lm_form tr                        { background: #dddddd; }
tr.lm_shaded:hover, tr.lm_alt:hover, tr.lm_active { background: #cfeddf; }

/* table header */
.lm_grid th a, .lm_grid th, .lm_form th, .lm_child_grid th, .lm_child_grid th a { color: white; background: black; }
.lm_grid th a, .lm_child_grid th a { font-size: 90%; text-decoration: none; }

/* child inputs */
.lm_child_grid tr td input[type=text] { width: 98%; }

/* buttons */
.lm_button, .lm_save_changes_button, .lm_search_button { margin: 8px 4px; padding: 4px 10px; border: 1px solid #333; border-radius: 4px; text-decoration: none; color: #000; display: inline-block; text-align: center; background: #f2f6f8; background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); cursor: pointer; }
.lm_button:hover, .lm_save_changes_button:hover, .lm_search_button:hover { background: #f2f6f8; background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 70%,#b5c6d0 71%,#e0eff9 100%); }



