* { 
font-family: sans-serif; 
font-size: 16px;
color:#555555;
}

body{
background:#2E2E2E;
}

/* links */
a { color: #005588; }
a:hover { color: #000; }
a:active { color: #006699; }
a:visited { color: #555555; }

div.bienvenida{
	text-align:center;
	width: 90%;
	margin: 0 auto;
	border: 3px solid #fd8a17;
	border-radius: 3px;
	font-family: sans-serif; 
	line-height: 1;
	background: #f7f7f7;
	box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}

div.formulario{
margin: 0 auto;
background-color: #f7f7f7;
width: 90%;
padding: 10px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
-moz-box-shadow: 2px 2px 5px #999;
}

div.tabla{
margin: 0 auto;
background-color: #dfdfdf;
width: 90%;
padding: 10px;
font-size: 12px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
-moz-box-shadow: 2px 2px 5px #999;
}


div.formulario2{
margin: 0 auto;
background-color: #dfdfdf;
width: 25%;
padding: 10px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
-moz-box-shadow: 2px 2px 5px #999;
}

.preguntas{
 text-align:left;
padding: 2px;
background-color: #E6E6E6;
-moz-border-radius: 5px 5px 5px 5px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 5px 5px;
/* para Opera */
border-radius: 5px 5px 5px 5px;
/*text-shadow: 0em 0.1em 0.1em black;*/
}

.textos{
padding: 2px;
background-color: #BCBCBC;
-moz-border-radius: 5px 5px 5px 5px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 5px 5px;
/* para Opera */
border-radius: 5px 5px 5px 5px;
/*text-shadow: 0em 0.1em 0.1em black;*/
}
.textos2{
padding: 2px;
background-color: #ededed;
-moz-border-radius: 5px 5px 5px 5px;
/*para Safari y Chrome*/
-webkit-border-radius: 5px 5px 5px 5px;
/* para Opera */
border-radius: 5px 5px 5px 5px;
/*text-shadow: 0em 0.1em 0.1em black;*/
}

.centrar {
margin: 0 auto;
background-color: #dfdfdf;
width: 60%;
padding: 10px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
-moz-box-shadow: 2px 2px 5px #999;
}

.centrar2 {
margin: 0 auto;

width: 60%;
padding: 10px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
-moz-box-shadow: 2px 2px 5px #999;
}

.CSSTableGenerator {
	margin: 0 auto;
	
	width:100%;
	
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSSTableGenerator table{

    /*border-collapse: collapse;*/
    border-spacing: 0;
	width:100%;
	height:100%;

}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#dfdfdf; }
.CSSTableGenerator tr:nth-child(even)    {
 /*background-color:#ffffff;*/ }
 .CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	/*background:-o-linear-gradient(bottom, #a5a5a5 5%, #000000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5a5a5), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #a5a5a5 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5a5a5", endColorstr="#000000");	
	background: -o-linear-gradient(top,#a5a5a5,000000);
*/
	background-color:#dfdfdf;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	

	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
/*
	background:-o-linear-gradient(bottom, #a5a5a5 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5a5a5), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #a5a5a5 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5a5a5", endColorstr="#000000");	background: -o-linear-gradient(top,#a5a5a5,000000);

	background-color:#a5a5a5;
	*/
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}